body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;

}
.cajaLetra{
    border: solid 2px black;
    width: 5rem;
    height: 5rem;
    margin: 0.3rem;
    

}

.fila{
    display: flex
    
}