form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#frases {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

#frases2 {
    background-color: blue;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

#frases3 {
    background-color: red;
    color: black;
    padding: 10px;
    margin-top: 20px;
}

#frases4 {
    background-color: yellow;
    color: black;
    padding: 10px;
    margin-top: 20px;
}