body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.cajaPokemon {
    border: solid 1px rgb(255, 0, 0);
    width: 150px;
    min-width: 120px;
    text-align: center;
    font-weight: bold;
    height: 170px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.cajaPokemon:hover {
    background-color: rgb(134, 186, 255);
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.cuadriculaPokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.pokemon-img {
    width: 100px;
    height: 100px;
}